# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Configuraciones de editores de código (IDE)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos de registro y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos de documentación y PDF (se mantienen locales)
*.pdf
*.md
!README.md

